<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing page Preventa
  screenshotPath: ../images/template-previews/landing-page-preventa.jpg
-->
{% extends "./layouts/base.html" %}

{% block header %}
  {% global_partial path="./partials/header-no-navigation.html" %}
{% endblock header %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--landing-page"
%}

  {% include_dnd_partial path="../sections/lp-hero.html" %}
  {% include_dnd_partial path="../sections/lp-registro.html" %}
  {% include_dnd_partial path="../sections/lp-amenidades.html" %}

{% end_dnd_area %}
{% endblock body %}